html{
    margin: 0;
    padding: 0;
}

.gridContainer{
    display: grid;
    min-height: 85vh;
    padding: 0px;
    width: 85vh;
    border: .2rem solid rebeccapurple;
}

.gridItem{
    border: .1rem solid black;
}

#reset{
    display: block;
    position: absolute;
}

/* .colorGridItem{
    background-color: dodgerblue;
} */